# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# IDE / Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
*.env

# Compiled files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / distribution folders
build/
dist/
*.egg-info/

